body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/2a/9b/85/2a9b85c396ababb0d5e6d7349912d158.jpg");
    background-size: cover; 
}

h1 {
    margin: 0;
    margin-bottom: .5rem;
}

.input {
    border: 1px solid #333;
    border-radius: .3em;
    padding: .25rem;
    width: 7em;
}

select {
    margin-left: .5rem;
}

.equals {
    font-weight: bold;
    font-size: 2rem;
}


   
      